{% load static %}

<style>
  .dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--theme-color)!important;
}
.nav-item{
    color: #fff;
}

</style>

<header style="background-color: #122742;">
    <nav class="navbar navbar-expand-lg container" >
        <a href="/"><img style="height:48px" class="navbar-brand" src="{% static 'img/IAN-logo.png' %}" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          
            <a class="nav-item nav-link" href="{% url 'content:firesides' %}">Fireside</a>
       
            <a class="nav-item nav-link" href="{% url 'content:ptow' %}">PTOW</a>
            <a class="nav-item nav-link" href="{% url 'content:articles' %}">Articles</a>        
            <a href="/register"><button type="button" class="btn btn-danger mr-2">Login</button></a>

            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 btn-main" type="submit">Search</button>
            </form>

     
          </div>
        </div>
    </nav>
</header>